<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
</head>

<body>

    <div class="main-content">
         {{!-- render parital --}} 
         {{>header}}

         <p>This site was created by Paul Gay. It uses data from mapbox.com and a weather api.</p>
        
        <img class="portrait" src="./img/robot.jpg" alt="">
    </div>
    

     {{>footer}}
</body>

</html>